.card {
    max-width: 100%;
}

.card-body {
    text-align: center;
    margin: 20px 0;
}

#table-contaier {
    width: 100%;
    display: grid;
    place-items: center;
    overflow-x: hidden;
}

.table {
    margin-top: 20px;
    width: auto;
    max-width: 100%;
}